.myText{

    border: black solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 225, 255) ;
}

.myButton{

    margin: 10px 10px 10px 10px;
    border: cyan;
    border: black solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pantalla{

    border: black solid 3px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 70px;
    margin: 10px 10px 10px 10px;
    height: 50px;
    background-color: rgb(243, 233, 255);
    border-radius: 10px 10px 10px 10px;
}